$font-family: 'Roboto', sans-serif;
$max-disks: 7;
$disk-min-width: 34;
$disk-height: 31;

$color-header-bg: #EEEEEE;
$color-header-border: #E0E0E0;

$color-container-bg: #ECEFF1;
$color-container-border: #616161;
$color-container-label: #FFFFFF;

$color-wrapper-bg: #F5F5F5;
$color-wrapper-border: #E0E0E0;

$color-count-bg: #D32F2F;
$color-count-label: #FFFFFF;

$color-disk-label: #FFFFFF;
$color-disk-v1-bg: #455A64;
$color-disk-v2-bg: #78909C;

$color-btn-primary-label: #FFFFFF;
$color-btn-primary-bg: #009688;
$color-btn-primary-bg-hover: #00796B;
